<app-carrusel></app-carrusel>

<h1>hello people</h1>
<span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est saepe laudantium! Reiciendis labore sint eos tenetur illum omnis, veritatis recusandae quam provident aliquid laboriosam optio. Quia cupiditate dolores nostrum!
</span>

<span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est saepe laudantium! Reiciendis labore sint eos tenetur illum omnis, veritatis recusandae quam provident aliquid laboriosam optio. Quia cupiditate dolores nostrum!
</span>

<span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est saepe laudantium! Reiciendis labore sint eos tenetur illum omnis, veritatis recusandae quam provident aliquid laboriosam optio. Quia cupiditate dolores nostrum!
</span>

<span>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime est saepe laudantium! Reiciendis labore sint eos tenetur illum omnis, veritatis recusandae quam provident aliquid laboriosam optio. Quia cupiditate dolores nostrum!
</span>

<br>