<section class="footer">
    <footer>
        <div class="divFooter">
    
            <div  class="divImgFoot">
                <img src="https://i.ibb.co/8YPdRbs/giphy.webp" alt="developer">
            </div>
    
            <div class="infoFooter">
                <span class="bounce-in-bottom">Johann Ortiz </span>
                <span class="bounce-in-bottom2" >johann.ortiz@unipamplona.edu.co</span>   
                <span class="bounce-in-bottom3">(+57) 302 352 5403</span>
                <span class="bounce-in-bottom4">Colombia</span>
            </div>
            
    
        </div>
    </footer>
</section>
