.header{
    background: #020940 url(/assets/img/background-header.png) center center/cover no-repeat local; 
    width: 100%;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.logo span {
    font-size: 27px;
    text-shadow: 0 0 2px #2155CD;
    margin-left: 10px;
}

.logo img {
    width: 46px;
}

.container-elements{
  width: 100%;
}

.menuNavegacion {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
  
  .menuNavegacion img{
    padding: 4px;
  }

  .divImgNav img{
    width: 16px;
  }

  .enlaces{
    display: flex;
    gap: 8px;
    
  }

  .boton-menu{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    font-size: 32px;
    margin-right: 20px;

  }

  .navLi{
    cursor: pointer;
    text-align: center;
    list-style:none;
    width: 124px;
    font-size: 12px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }

  .navLi:hover{
    border-bottom: 1px solid white;
  
  }
  
  .navLi:checked{
    border-bottom: 2px solid #0026ca;
  }

  @media (min-width:801px){
    .enlaces{
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }


  @media (min-width:601px) and (max-width:800px){
    .menuNavegacion{
      flex-direction: column;

    }

    .enlaces{
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .divImgNav img{
        display: none;
    }

 
    .logo span {
        display: none;
    }

  }


  @media (max-width:600px){

    .header{
      z-index: 4;
      position: fixed;
    }
   
    .logo{
      margin-bottom: 0;
      padding-bottom: 0;
    }

    .logo img{
      display: none;
    }

    .menuNavegacion{
      justify-content: left;
 
    }


    .divImgNav img{
      display: none;
  }

    .enlaces{
        flex-direction: column;
        justify-content: initial;
        align-items: flex-start;
    }

    .navLi{
      margin-left: 20px;
      text-align: start;
      padding: 5px;

    }

    .title{
      display: none;
    }

    .logo span {
      display: none;
  }
  
  }



  /*
  * animaciones
  */
  .slideInLeft {
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
      0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      }
      @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    } 

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      @-webkit-keyframes slideInRight {
        0% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          visibility: visible;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      @keyframes slideInRight {
        0% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          visibility: visible;
      }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        } 
      } 

      .slide-in-right {
        -webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }

      .slide-in-right1 {
        -webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
                animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
      }

      .slide-in-right2 {
        -webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
                animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
      }

      .slide-in-right3 {
        -webkit-animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
                animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s both;
      }

     
      @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      



  /*
  *Fin animaciones
  */