<div class="header">

    <div class="logo">
        <img src="https://i.ibb.co/vmhdBF5/logo.png" class="slideInLeft" alt=""   srcset="">
        <span  class="slideInRight">Ing. Johann Ortiz</span>
    </div>

    <nav #enlaces2  class="menuNavegacion">

        <div class="divImgNav">
            <img src="https://i.ibb.co/vmhdBF5/logo.png" alt="">
        </div>
        
    
   
        <div class="boton-menu" *ngIf="!mostrarEnlaces"><a (mousedown)="cambiarMenu()">&#9776;</a></div>

        <div class="enlaces"  *ngIf="mostrarEnlaces">
            
            <li class="navLi slide-in-right" (click)="containerInicio()" id="liInicio"><a>Inicio</a></li>
            <li class="navLi slide-in-right1" (click)="containerConocimientos()" id="liConocimientos"><a>Conocimientos</a></li>
            <li class="navLi slide-in-right2" (click)="containerProyectos()" id="liProyectos"><a>Proyectos</a></li>
            <li class="navLi slide-in-right3" (click)="containerDocumentos()" id="liDocumentos"><a>Documentos</a></li>
        </div>

    
    </nav>

</div>