.header{
    background: #020940 url(/assets/img/background-header.png) center center/cover no-repeat local; 
    z-index: 2;
    position: fixed;
    width: 100%;
}

.logo {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.logo span {
    font-size: 27px;
    text-shadow: 0 0 2px #2155CD;
    margin-left: 10px;
}

.logo img {
    width: 46px;
}

.menuNavegacion {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
  
  .menuNavegacion img{
    padding: 4px;
  }

  .divImgNav img{
    width: 16px;
  }

  .enlaces{
    display: flex;
    gap: 8px;
    
  }

  .boton-menu{
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    font-size: 32px;
    margin-right: 20px;

  }

  .navLi{
    cursor: pointer;
    text-align: center;
    list-style:none;
    width: 124px;
    font-size: 12px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
  }

  .navLi:hover{
    border-bottom: 1px solid white;
  
  }
  
  .navLi:checked{
    border-bottom: 2px solid #0026ca;
  }


  @media (max-width:800px){
    .menuNavegacion{
      flex-direction: column;
    }

    .divImgNav img{
        display: none;
    }

 
    .logo span {
        display: none;
    }

  }

  @media (max-width:600px){
    .enlaces{
        flex-direction: column;
    }
  
  }



  /*
  * animaciones
  */
  .slideInLeft {
      -webkit-animation-name: slideInLeft;
      animation-name: slideInLeft;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
    }
    @-webkit-keyframes slideInLeft {
      0% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      visibility: visible;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      }
      @keyframes slideInLeft {
        0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        visibility: visible;
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    } 

    .slideInRight {
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
      }
      @-webkit-keyframes slideInRight {
        0% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          visibility: visible;
        }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      @keyframes slideInRight {
        0% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          visibility: visible;
      }
        100% {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        } 
      } 



  /*
  *Fin animaciones
  */