

.envolturaPopup {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background: rgba(0, 0, 0, 0.508);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}



  

.lenguajes {
  
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 40px;
  overflow: hidden;
}

.lenguajes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff url(/assets/img/proyectosBackground.png) center center/cover no-repeat local;
  z-index: -1;
  -webkit-animation: kenburns-top 20s ease-out both;
  animation: kenburns-top 20s ease-out both;
}

.herramientas {
  position: relative;
  color: #0026ca;
  display: flex;
  flex-direction: column;
  height: auto;
  padding-top: 40px;
  overflow: hidden;
}

.herramientas::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff url(/assets/img/banner6.png) center center/cover no-repeat local;
  z-index: -1;
  -webkit-animation: kenburns-top 20s ease-out both;
  animation: kenburns-top 20s ease-out both;
}
  
  .tituloActitudes{
    height: 40px;
    width: 100%;
    margin-top: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popupClose{
    cursor: pointer;
  }

  .json{
    display: flex;
    flex-direction: column;
  }
  
  #pTar{
    font-size: 48px;
    color: #ffffff;
    font-weight: 600;
  }
  
  .lenguajes img{
    width: 100%;
    height: 208px;
  }

  .herramientas img{
    width: 100%;
    height: 208px;
  }
  
  p{
    color: #7d7c7c; 
  
  }
  
  .divTarjetas{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: center;
      width: 100%;
      align-items: center;
      height: 78%;
  
      
  }

  .eventMetodologia{
    z-index: 5;
    display: block;
  }
  
  .divTarjetasPro{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    font-size: 18px;
    background: #E8F9FD;
    width: 100%;    
  }



  .tarjetaTec{
    display: inline-block;
    width: 250px;
    height: 368px;
    text-align: left;
    background: #ffffff;

    border:1px solid #828282;
    
  }


  .div-crud{
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 8px;


  }
  
  .link{
    cursor: pointer;
    text-decoration: none;

  }

  .link p{
    margin-top: 0;
  }
  .link-s{
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 8px;
  }

  

  .link-s :hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: #0026ca;
  }


  .modal-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  pre{
    margin: 0;
  }
 

  .link :hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: #0026ca;
  }

  .enlace-api{
    color: #0026ca;
  }
  

  .tarjetaPro{
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: auto;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
  }
  
  .tarjetaPro:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .imgProyecto{
    border-radius: 50%;
  }

  .clic{
    font-size: 10px;
  }

  .button-copy{

    font-size: 22px;
  }
  
/*   
  .tarjetaTec a{
    color: #000000;
    
  }
   */


   
    
   
  
  .contenedorDivTec{
    
    display:flex ;
    flex-direction: column;
    margin:  10px;
    font-family: 'Roboto', sans-serif;
  }
  
.envolturaPopup {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  background: rgba(0, 0, 0, 0.508);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  width: 100%;
  background: rgb(255, 255, 255);
  padding: 20px;
  margin: 12vh auto;
  border-radius: 5px;
  position: relative;
}


  .sis-login{
    border: 1px solid gray;
    border-radius: 8px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .copiar-json{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .copiar-json:hover{
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: #0026ca;

  }

  .contenedorDivTec .tittle{
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
  }

  .contenedorDivTec .ayuda{
    font-size: 12px;
    margin: 0;
  }

  .contenedorDivTec .link{
    font-size: 15px;
    color: #0026ca;
  }




  

  
  /* .tarjetaTec span{
    margin-top: 12px;
    font-weight: bold;
    color: #000000;
  } */
  
  
  
  /* finaliza section de tecnologias */



    /** fin de  Actitudes */




  /* responsive */
  @media (min-width: 601px) and (max-width:1199px){

    .lenguajes{
      height: auto;
    }

    .herramientas{
      height: auto;
    }
    .secPresentacion{
      height: auto;
    }
    .pesentacion{
      font-size: 24px;
    }
  }

  @media (min-width: 601px) and (max-width:999px){
    .img-presentacion{
      display: none;
      }
  }

  @media (max-width: 600px){
    .divTituloPresentacion{
      margin-top: 30px;
      
    }

    #pTar{
      font-size: 28px;
    }

    .lenguajes{
      height: auto;
    }

    .herramientas{
      height: auto;
    }

    .divPresentacion{
      display: flex;
      flex-direction: column;
    }

    .secPresentacion{
      height: auto;
    }

    .img-presentacion{
    display: none;

    }

    .pPresentacion{
      font-size: auto;
    }
   

    .lenguajes{
      background: #ffffff url(/assets/img/banner7.png) center center/cover no-repeat local; 
    } 

    .herramientas{
      background: #ffffff url(/assets/img/banner6.png) center center/cover no-repeat local; 
    } 

  }

  /* animations */

  
  /* salto de la tarjeta */
  @-webkit-keyframes jump{
    0%{ -webkit-transform:translateY(0); transform:translateY(0); }
    20%{ -webkit-transform:translateY(0); transform:translateY(0); }
    40%{ -webkit-transform:translateY(-30px); transform:translateY(-30px); }
    50%{ -webkit-transform:translateY(0); transform:translateY(0); }
  
    }
    
    @keyframes jump{
    0%{ transform:translateY(0); }
    20%{ transform:translateY(0); }
    40%{ transform:translateY(-30px); }
    50%{ transform:translateY(0); }
  
    }




/* backgroung */
  @-webkit-keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
  }
  
  @keyframes kenburns-top {
    0% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      -webkit-transform-origin: 50% 16%;
      transform-origin: 50% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translateY(-15px);
      transform: scale(1.25) translateY(-15px);
      -webkit-transform-origin: top;
      transform-origin: top;
    }
  }


/* tarjeta que aparece */
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* enlaces */



@-webkit-keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes pulse {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  50% {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  } 
