<section id="tecnologias" class="lenguajes" style="display: flex;"> 

    <div class="tituloActitudes">
        <p id="pTar">PROYECTOS</p>
    </div>

    <div id="divTarjetas" class="divTarjetas">

         <!-- ** Inicio  de tarjetas de actitudes ** -->


              <!-- ** Inicio  de tarjetas de actitudes ** -->



              <a id="cleanCode" >
                <div class="tarjetaTec">
                    <img src="assets/img/tecnology/spring.png" alt="">
                    <div class="contenedorDivTec">
                        <span class="tittle">SPRING</span>
                        <p class="ayuda">Para una mejor interacción con la API se aconseja implementar Postman.</p>

                        <div class="sis-login">
                            <span class="ayuda-2">Login</span>
                            <div class="div-crud">
                                <a title="Listar todos los usuarios" class="link-s" (click)="mostrarTarjeta('eventSpring')"  target="_blank">
                                    <i class="fa-solid fa-list"></i>
                                </a>
                                <a title="Registrar un usuario" class="link-s" (click)="mostrarTarjeta('eventSpring2')"  target="_blank">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                </a>
                                <a title="Editar un usuario" class="link-s" (click)="mostrarTarjeta('eventSpring3')"  target="_blank">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </a>
                                <a title="Eliminar un usuario" class="link-s" (click)="mostrarTarjeta('eventSpring4')"  target="_blank">
                                    <i class="fa-sharp fa-solid fa-trash"></i>
                                   
                                </a>
                                <a title="Iniciar sesion" class="link-s" (click)="mostrarTarjeta('eventSpring5')"  target="_blank">
                                    
                                    <i class="fa-solid fa-envelope"></i>
                                </a>
                                
                            </div>  

                        </div>

                                    
                    </div>
                </div>
            </a>

            <div id="eventSpring" (click)="ocultarTarjeta('eventSpring')" class="envolturaPopup">
                    <div class="popup">
                        <div class="popupClose">X</div>
                            <div class="modal-content">               
                                <span>ENDPOINT</span>
                                <p>Listar todos los usuarios:</p>                         
                                <div class="json">
                                    <p value="" >GET: <a class="enlace-api" href="https://johannrop.bio/api/list"  target="_blank">https://johannrop.bio/api/list</a> </p>
                                    
                                    <div class="copiar-json" (click)="copyListLink()">
                                        <div class="button-copy">
                                            <i class="fa-solid fa-copy"></i>          
                                        </div>                    
                                        <span class="clic">clic para copiar</span>
                                    </div>  
                                </div>
                                 
                            </div>
                    </div>
            </div>

            <div id="eventSpring2" (click)="ocultarTarjeta('eventSpring2')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">               
                            <span>ENDPOINT</span>
                            <p>Registrarse:</p>                         
                            <div class="json">
                                <p value="" >POST: <a class="enlace-api" href="https://johannrop.bio/api/register"  target="_blank">https://johannrop.bio/api/register</a></p>
                                <div class="copiar-json" (click)="copyRegisterLink()">
                                    <div class="button-copy">
                                        <i class="fa-solid fa-copy"></i>          
                                    </div>                    
                                    <span class="clic">clic para copiar</span>
                                </div>  
                                <p>JSON:</p>
                                <pre value="" #json >
                                    {{register}}
                                </pre>
                            </div>
                            <div class="copiar-json" (click)="copyRegister()">
                                <div class="button-copy">
                                    <i class="fa-solid fa-copy"></i>          
                                </div>                    
                                <span class="clic">clic para copiar</span>
                            </div>    
                        </div>
                </div>
        </div>

        <div id="eventSpring3" (click)="ocultarTarjeta('eventSpring3')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                    <div class="modal-content">               
                        <span>ENDPOINT</span>
                        <p>Actualizar:</p>                         
                        <div class="json">
                            <p value="" >PUT: <a class="enlace-api" href="https://johannrop.bio/api/update/id"  target="_blank">https://johannrop.bio/api/update/#_id</a></p>
                            <div class="copiar-json" (click)="copyUpdateLink()">
                                <div class="button-copy">
                                    <i class="fa-solid fa-copy"></i>          
                                </div>                    
                                <span class="clic">clic para copiar</span>
                            </div>  
                            <p>JSON:</p>
                            <pre value="" #json >
                                {{register}}
                            </pre>
                        </div>
                        <div class="copiar-json" (click)="copyUpdateLink()">
                            <div class="button-copy">
                                <i class="fa-solid fa-copy"></i>          
                            </div>                    
                            <span class="clic">clic para copiar</span>
                        </div>    
                    </div>
            </div>
    </div>

    <div id="eventSpring4" (click)="ocultarTarjeta('eventSpring4')" class="envolturaPopup">
        <div class="popup">
            <div class="popupClose">X</div>
                <div class="modal-content">               
                    <span>ENDPOINT</span>
                    <p>Eliminar un usuario:</p>                         
                    <div class="json">
                        <p value="" >DELETE: <a class="enlace-api" href="https://johannrop.bio/api/delete/id"  target="_blank">https://johannrop.bio/api/delete/#_id</a></p>
                        <div class="copiar-json" (click)="copyUpdateLink()">
                            <div class="button-copy">
                                <i class="fa-solid fa-copy"></i>          
                            </div>                    
                            <span class="clic">clic para copiar</span>
                        </div>  
                  
                    </div>
                     
                </div>
        </div>
    </div>
        

<!-- ***** -->


            <a id="controlVersiones" >
                <div class="tarjetaTec">
                    <img src="assets/img/tecnology/angular.png" alt="">
                    <div class="contenedorDivTec">
                        <span class="tittle">ANGULAR</span>
                        <a class="link" href="https://johannrop.com"  target="_blank"><p>Login</p></a>
                        <a class="link" href="https://johannrop.com"  target="_blank"><p>Portafolio V2</p></a>
                        <a class="link" href="https://stirring-babka-d66e58.netlify.app/"  target="_blank"><p>Administrador</p></a>                                             
                    </div>
                </div>
            </a>
     
                

          
      

      <!-- ***** -->

      <a id="javascript" >
        <div class="tarjetaTec">
          <img src="assets/img/tecnology/javaScript.png" alt="">
          <div class="contenedorDivTec">
            <span class="tittle">JAVASCRIPT</span>
            <a class="link" href="https://desarrollo.johannrop.com"  target="_blank"> <p>Portafolio V1</p></a>
            <a class="link" href="https://cucuta.gov.co/"  target="_blank"> <p>Pagina Institucional</p></a>
          </div>
        </div>
      </a>
        
   
              
      
              
      
    


   

   

     <!-- ***** -->
    
     <a id="cleanCode" >
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/firebase.png" alt="">
            <div class="contenedorDivTec">
                <span class="tittle">FIREBASE</span>
                <a class="link" href="https://stirring-babka-d66e58.netlify.app/"  target="_blank"> <p>Administrador</p></a>
            </div>
        </div>
    </a>
  


     <!-- ******** -->

     
    <a id="cleanCode" >
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/github.png" alt="">
            <div class="contenedorDivTec">
                <span class="tittle">GITHUB</span>
                <a class="link" href="https://github.com/johannrop"  target="_blank"> <p>Repositorio</p></a>
            </div>
        </div>
    </a>
   

    
    <!-- ******** -->

    <a id="cleanCode">
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/arduino.png" alt="">
            <div class="contenedorDivTec">
                <span class="tittle">ARDUINO</span>
                <a class="link" (click)="mostrarTarjeta('eventArduino')"  target="_blank"> <p>ROBOT</p></a>
            </div>
        </div>
    </a>
    <div id="eventArduino" (click)="ocultarTarjeta('eventArduino')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                    <div class="modal-content">
                        <img src="assets/img/tecnology/OR2.png" alt="">
                        <span>TRABAJO DE GRADO</span>
                        <p>PROTOTIPO DE ROBOT BASADO EN AUTÓMATAS PARA LA LOCALIZACIÓN DE OBJETOS METÁLICOS</p>
                    </div>
            </div>
    </div>







        <!-- ******** -->

    </div>


</section>
