<section id="tecnologias" class="lenguajes" style="display: flex;"> 

    <div class="tituloActitudes">
        <p id="pTar">PROYECTOS</p>
    </div>

    <div id="divTarjetas" class="divTarjetas">

         <!-- ** Inicio  de tarjetas de actitudes ** -->


              <!-- ** Inicio  de tarjetas de actitudes ** -->



              <a id="cleanCode" (click)="mostrarTarjeta('eventSpring')">
                <div class="tarjetaTec">
                    <img src="assets/img/tecnology/spring.png" alt="">
                    <div class="contendidoDivTec">
                        <span>SPRING</span>
                        <p>Framework de desarrollo para aplicaciones empresariales en Java.</p>
                    </div>
                </div>
            </a>
            <div id="eventSpring" (click)="ocultarTarjeta('eventSpring')" class="envolturaPopup">
                    <div class="popup">
                        <div class="popupClose">X</div>
                            <div class="modal-content">
                                <img src="assets/img/tecnology/spring.png" alt="">
                                <span>SPRING</span>
                                <p>Spring es un framework de desarrollo de aplicaciones empresariales basado en Java. Proporciona un enfoque modular y una amplia gama de características para facilitar el desarrollo, la integración y la implementación de aplicaciones robustas y escalables..</p>
                            </div>
                    </div>
            </div>
        

<!-- ***** -->


            <a id="controlVersiones" >
                <div class="tarjetaTec">
                    <img src="assets/img/tecnology/angular.png" alt="">
                    <div class="contendidoDivTec">
                        <span>ANGULAR</span>
                        <a class="link" href="https://stirring-babka-d66e58.netlify.app/"  target="_blank"> <p class="text-link">Empleados</p></a>
                        <a class="link" href="https://johannrop.com"  target="_blank"> <p>Portafolio V2</p></a>
                    </div>
                </div>
            </a>
     
                

          
      

      <!-- ***** -->

      <a id="javascript" >
        <div class="tarjetaTec">
          <img src="assets/img/tecnology/javaScript.png" alt="">
          <div class="contendidoDivTec">
            <span>JAVASCRIPT</span>
            <a class="link" href="https://portafolio.ing-johann.repl.co/"  target="_blank"> <p>Portafolio V1</p></a>
            <a class="link" href="https://cucuta.gov.co/"  target="_blank"> <p>Pagina Institucional</p></a>

          </div>
        </div>
      </a>
        
   
              
      
              
      <!-- ***** -->  
              
    
      
      <a id="cleanCode" (click)="mostrarTarjeta('eventC')">
          <div class="tarjetaTec">
              <img src="assets/img/tecnology/c.png" alt="">
              <div class="contendidoDivTec">
                  <span>C</span>
                  <p>Lenguaje de programación de propósito general, eficiente, portátil y flexible.</p>
              </div>
          </div>
      </a>
      <div id="eventC" (click)="ocultarTarjeta('eventC')" class="envolturaPopup">
              <div class="popup">
                  <div class="popupClose">X</div>
                      <div class="modal-content">
                          <img src="assets/img/tecnology/c.png" alt="">
                          <span>C</span>
                          <p>El lenguaje C es un poderoso lenguaje de programación de propósito general, conocido por su eficiencia y portabilidad. Permite un control cercano del hardware y es ampliamente utilizado en sistemas operativos, controladores y desarrollo de software de bajo nivel.</p>
                      </div>
              </div>
      </div>


    


   

     <!-- ***** -->
    
     <a id="cleanCode" (click)="mostrarTarjeta('eventEC2')">
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/ec2.png" alt="">
            <div class="contendidoDivTec">
                <span>AMAZON EC2</span>
                <p>Servicio de computación en la nube de Amazon.</p>
            </div>
        </div>
    </a>
    <div id="eventEC2" (click)="ocultarTarjeta('eventEC2')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                    <div class="modal-content">
                        <img src="assets/img/tecnology/ec2.png" alt="">
                        <span>AMAZON EC2</span>
                        <p>Amazon EC2 (Elastic Compute Cloud) es un servicio de computación en la nube que proporciona capacidad de cómputo escalable y flexible. Permite lanzar y administrar servidores virtuales en la infraestructura de Amazon Web Services (AWS), adaptándose a las necesidades de escalabilidad y rendimiento de las aplicaciones.</p>
                    </div>
            </div>
    </div>

     <!-- ***** -->
    
     <a id="cleanCode" >
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/firebase.png" alt="">
            <div class="contendidoDivTec">
                <span>FIREBASE</span>
                <a class="link" href="https://stirring-babka-d66e58.netlify.app/"  target="_blank"> <p>Empleados</p></a>
            </div>
        </div>
    </a>
  

    <!-- ******** -->

    


    <a id="cleanCode" (click)="mostrarTarjeta('eventAndroidstudio')">
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/androidStudio.png" alt="">
            <div class="contendidoDivTec">
                <span>Android Studio</span>
                <p>Entorno de desarrollo integrado para aplicaciones Android.</p>
            </div>
        </div>
    </a>
    <div id="eventAndroidstudio" (click)="ocultarTarjeta('eventAndroidstudio')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                    <div class="modal-content">
                        <img src="assets/img/tecnology/androidStudio.png" alt="">
                        <span>Android Studio</span>
                        <p>Android Studio es un entorno de desarrollo integrado (IDE) oficial para crear aplicaciones Android. Proporciona herramientas, emuladores y un editor de código robusto que facilita la creación, prueba y depuración de aplicaciones móviles para dispositivos Android.</p>
                    </div>
            </div>
    </div>


     <!-- ******** -->

     
    <a id="cleanCode" >
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/github.png" alt="">
            <div class="contendidoDivTec">
                <span>GITHUB</span>
                <a class="link" href="https://github.com/johannrop"  target="_blank"> <p>Repositorio</p></a>
            </div>
        </div>
    </a>
   

    
    <!-- ******** -->

    <a id="cleanCode" (click)="mostrarTarjeta('eventArduino')">
        <div class="tarjetaTec">
            <img src="assets/img/tecnology/arduino.png" alt="">
            <div class="contendidoDivTec">
                <span>ARDUINO</span>
                <p>Plataforma de prototipado electrónico de código abierto y accesible.</p>
            </div>
        </div>
    </a>
    <div id="eventArduino" (click)="ocultarTarjeta('eventArduino')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                    <div class="modal-content">
                        <img src="assets/img/tecnology/arduino.png" alt="">
                        <span>ARDUINO</span>
                        <p>Arduino es una plataforma de prototipado electrónico basada en hardware y software de código abierto, que permite a los usuarios diseñar y construir dispositivos interactivos y robots de forma accesible, facilitando la programación y la conexión con sensores, actuadores y otros componentes electrónicos.</p>
                    </div>
            </div>
    </div>







        <!-- ******** -->

    </div>


</section>
