
<section id="tecnologias" class="lenguajes" style="display: flex;"> 

    <div class="tituloActitudes">
        <p id="pTar">LENGUAJES</p>
    </div>

    <div id="divTarjetas" class="divTarjetas">

         <!-- ** Inicio  de tarjetas de actitudes ** -->


     
                
        <a id="java" (click)="mostrarTarjeta('eventJava')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/java.png" alt="">
                <div class="contendidoDivTec">
                    <span>JAVA</span>
                    <p>Lenguaje de programación versátil y ampliamente utilizado.</p>
                </div>
            </div>
        </a>

        <div id="eventJava" (click)="ocultarTarjeta('eventJava')" class="envolturaPopup">
            <div class="popup">
                <div class="popupClose">X</div>
                <div class="modal-content">
                    <img src="assets/img/tecnology/java.png" alt="">
                    <span>JAVA</span>
                    <p>Java es un lenguaje de programación orientado a objetos, portable y robusto, ampliamente utilizado para el desarrollo de software, aplicaciones empresariales, Android, sistemas embebidos y servidores, con un enfoque en la seguridad y la compatibilidad multiplataforma.</p>
                </div>
            </div>
        </div>

        <!-- ***** -->

        <a id="desarrollo" (click)="mostrarTarjeta('eventDesarrollo')">
            <div class="tarjetaTec">
              <img src="assets/img/tecnology/typescript.png" alt="">
              <div class="contendidoDivTec">
                <span>TYPESCRIPT</span>
                <p>Superset de JavaScript con tipado estático y características avanzadas.</p>
              </div>
            </div>
          </a>
            
          <div id="eventDesarrollo" (click)="ocultarTarjeta('eventDesarrollo')" class="envolturaPopup">
            <div class="popup">
              <div class="popupClose">X</div>
              <div class="modal-content">
                <img src="assets/img/tecnology/typescript.png" alt="">
                <span>TYPESCRIPT</span>
                <p>TypeScript es un lenguaje de programación de código abierto desarrollado por Microsoft que amplía JavaScript con un sistema de tipado estático opcional y características avanzadas, facilitando el desarrollo de aplicaciones escalables, robustas y de alta calidad en proyectos web./p>
              </div>
            </div>
          </div>

        <!-- ***** -->

        <a id="javascript" (click)="mostrarTarjeta('eventJavascript')">
          <div class="tarjetaTec">
            <img src="assets/img/tecnology/javaScript.png" alt="">
            <div class="contendidoDivTec">
              <span>JAVASCRIPT</span>
              <p>Lenguaje de programación para desarrollo web interactiva.</p>
            </div>
          </div>
        </a>
          
        <div id="eventJavascript" (click)="ocultarTarjeta('eventJavascript')" class="envolturaPopup">
          <div class="popup">
            <div class="popupClose">X</div>
            <div class="modal-content">
              <img src="assets/img/tecnology/javaScript.png" alt="">
              <span>JAVASCRIPT</span>
              <p>JavaScript es un lenguaje de programación de alto nivel, interpretado por los navegadores web, que permite agregar interactividad y dinamismo a las páginas web, manipulando elementos, controlando eventos y realizando peticiones a servidores para obtener o enviar información.</p>
            </div>
          </div>
        </div>
                
        
                
        <!-- ***** -->  
                
        <a id="metodologia" (click)="mostrarTarjeta('eventCSS')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/css.png" alt="">
                <div class="contendidoDivTec">
                    <span>CSS</span>
                    <p>Lenguaje para dar estilo a páginas web..</p>
                </div>
            </div>
        </a>
        <div id="eventCSS" (click)="ocultarTarjeta('eventCSS')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/css.png" alt="">
                            <span>CSS</span>
                            <p>CSS (Cascading Style Sheets) es un lenguaje de diseño utilizado para controlar la presentación y apariencia visual de las páginas web. Permite definir colores, fuentes, espacios, tamaños, alineaciones y otros estilos para crear una experiencia visual atractiva y coherente.</p>
                        </div>
                </div>
        </div>

         <!-- ***** -->

         <a id="desarrollo" (click)="mostrarTarjeta('eventHtml')">
            <div class="tarjetaTec">
              <img src="assets/img/tecnology/html5.png" alt="">
              <div class="contendidoDivTec">
                <span>HTML5</span>
                <p>Lenguaje de marcado para estructurar contenido web.</p>
              </div>
            </div>
          </a>
            
          <div id="eventHtml" (click)="ocultarTarjeta('eventHtml')" class="envolturaPopup">
            <div class="popup">
              <div class="popupClose">X</div>
              <div class="modal-content">
                <img src="assets/img/tecnology/html5.png" alt="">
                <span>HTML5</span>
                <p>HTML (HyperText Markup Language) es un lenguaje de marcado utilizado para estructurar y presentar contenido en la web. Permite definir elementos como encabezados, párrafos, enlaces, imágenes y tablas, facilitando la creación de páginas y aplicaciones web interactivas.</p>
              </div>
            </div>
          </div>


            <!-- ***** -->
        
         <a id="cleanCode" (click)="mostrarTarjeta('eventSQL')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/sql.png" alt="">
                <div class="contendidoDivTec">
                    <span>SQL</span>
                    <p>Lenguaje de consulta para bases de datos relacionales.</p>
                </div>
            </div>
        </a>
        <div id="eventSQL" (click)="ocultarTarjeta('eventSQL')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/sql.png" alt="">
                            <span>SQL</span>
                            <p>SQL (Structured Query Language) es un lenguaje de programación utilizado para gestionar bases de datos relacionales, permitiendo realizar consultas, insertar, actualizar y eliminar datos, definir esquemas y manipular la estructura y contenido de las tablas de manera eficiente.</p>
                        </div>
                </div>
        </div>

        <!-- ******** -->

    </div>


</section>

<section id="tecnologias" class="herramientas" style="display: flex;"> 

    <div class="tituloActitudes">
        <p id="pTar">HERRAMIENTAS</p>
    </div>

    <div id="divTarjetas" class="divTarjetas">


        
        <a id="controlVersiones" (click)="mostrarTarjeta('eventAngular')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/angular.png" alt="">
                <div class="contendidoDivTec">
                    <span>ANGULAR</span>
                    <p>Framework para desarrollo web de aplicaciones empresariales.</p>
                </div>
            </div>
        </a>

        <div id="eventAngular" (click)="ocultarTarjeta('eventAngular')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/angular.png" alt="">
                            <span>ANGULAR</span>
                            <p>Angular es un framework de desarrollo de aplicaciones web de código abierto basado en TypeScript. Proporciona una estructura y herramientas para crear aplicaciones robustas, escalables y de alto rendimiento con características como enlace de datos, enrutamiento y manipulación del DOM.</p>
                        </div>
                </div>
        </div>
        
        <!-- ***** -->
        
        <a id="cleanCode" (click)="mostrarTarjeta('eventSpring')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/spring.png" alt="">
                <div class="contendidoDivTec">
                    <span>SPRING</span>
                    <p>Framework de desarrollo para aplicaciones empresariales en Java.</p>
                </div>
            </div>
        </a>
        <div id="eventSpring" (click)="ocultarTarjeta('eventSpring')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/spring.png" alt="">
                            <span>SPRING</span>
                            <p>Spring es un framework de desarrollo de aplicaciones empresariales basado en Java. Proporciona un enfoque modular y una amplia gama de características para facilitar el desarrollo, la integración y la implementación de aplicaciones robustas y escalables..</p>
                        </div>
                </div>
        </div>

         <!-- ***** -->
        
         <a id="cleanCode" (click)="mostrarTarjeta('eventCapacitor')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/capacitor.png" alt="">
                <div class="contendidoDivTec">
                    <span>CAPACITOR</span>
                    <p>Entorno nativo para construir aplicaciones móviles multiplataforma.</p>
                </div>
            </div>
        </a>
        <div id="eventCapacitor" (click)="ocultarTarjeta('eventCapacitor')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/capacitor.png" alt="">
                            <span>CAPACITOR</span>
                            <p>Capacitor es una plataforma de código abierto que proporciona un entorno de ejecución nativo para construir aplicaciones móviles utilizando tecnologías web como HTML, CSS y JavaScript. Permite crear aplicaciones multiplataforma con acceso a características y API nativas del dispositivo.</p>
                        </div>
                </div>
        </div>

         <!-- ***** -->
        
         <a id="cleanCode" (click)="mostrarTarjeta('eventEC2')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/ec2.png" alt="">
                <div class="contendidoDivTec">
                    <span>AMAZON EC2</span>
                    <p>Servicio de computación en la nube de Amazon.</p>
                </div>
            </div>
        </a>
        <div id="eventEC2" (click)="ocultarTarjeta('eventEC2')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/ec2.png" alt="">
                            <span>AMAZON EC2</span>
                            <p>Amazon EC2 (Elastic Compute Cloud) es un servicio de computación en la nube que proporciona capacidad de cómputo escalable y flexible. Permite lanzar y administrar servidores virtuales en la infraestructura de Amazon Web Services (AWS), adaptándose a las necesidades de escalabilidad y rendimiento de las aplicaciones.</p>
                        </div>
                </div>
        </div>

         <!-- ***** -->
        
         <a id="cleanCode" (click)="mostrarTarjeta('eventFirebase')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/firebase.png" alt="">
                <div class="contendidoDivTec">
                    <span>FIREBASE</span>
                    <p>base de datos NoSQL basada en la nube</p>
                </div>
            </div>
        </a>
        <div id="eventFirebase" (click)="ocultarTarjeta('eventFirebase')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/firebase.png" alt="">
                            <span>FIREBASE</span>
                            <p>Firebase Real-time Database permite almacenar y sincronizar datos en tiempo real entre usuarios y dispositivos.</p>
                        </div>
                </div>
        </div>


        <!-- ******** -->

        


        <a id="cleanCode" (click)="mostrarTarjeta('eventAndroidstudio')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/androidStudio.png" alt="">
                <div class="contendidoDivTec">
                    <span>Android Studio</span>
                    <p>Entorno de desarrollo integrado para aplicaciones Android.</p>
                </div>
            </div>
        </a>
        <div id="eventAndroidstudio" (click)="ocultarTarjeta('eventAndroidstudio')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/androidStudio.png" alt="">
                            <span>Android Studio</span>
                            <p>Android Studio es un entorno de desarrollo integrado (IDE) oficial para crear aplicaciones Android. Proporciona herramientas, emuladores y un editor de código robusto que facilita la creación, prueba y depuración de aplicaciones móviles para dispositivos Android.</p>
                        </div>
                </div>
        </div>

    
         <!-- ******** -->

         
         <a id="cleanCode" (click)="mostrarTarjeta('eventGit')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/git.png" alt="">
                <div class="contendidoDivTec">
                    <span>GIT</span>
                    <p>Sistema de control de versiones distribuido.</p>
                </div>
            </div>
        </a>
        <div id="eventGit" (click)="ocultarTarjeta('eventGit')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/git.png" alt="">
                            <span>GIT</span>
                            <p>Git es un sistema de control de versiones distribuido utilizado para el seguimiento de cambios en archivos y coordinación de trabajo en equipos de desarrollo. Permite realizar ramificaciones, fusiones y revertir cambios de manera eficiente, manteniendo un historial completo y facilitando la colaboración en proyectos de software.</p>
                        </div>
                </div>
        </div>


        
        <!-- ******** -->

        <a id="cleanCode" (click)="mostrarTarjeta('eventgitHub')">
            <div class="tarjetaTec">
                <img src="assets/img/tecnology/github.png" alt="">
                <div class="contendidoDivTec">
                    <span>GITHUB</span>
                    <p>Plataforma web para alojar repositorios de código.</p>
                </div>
            </div>
        </a>
        <div id="eventgitHub" (click)="ocultarTarjeta('eventgitHub')" class="envolturaPopup">
                <div class="popup">
                    <div class="popupClose">X</div>
                        <div class="modal-content">
                            <img src="assets/img/tecnology/github.png" alt="">
                            <span>GITHUB</span>
                            <p>GitHub es una plataforma web de alojamiento de repositorios de código fuente. Permite a los desarrolladores colaborar en proyectos, realizar seguimiento de versiones, gestionar problemas y contribuir al software de manera eficiente y transparente.</p>
                        </div>
                </div>
        </div>




    </div>


    

</section>
